@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(212, 45%, 89%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}